/* Reset some default styles */
body, h2, label, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Background style */
body {
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Card style */
.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
}

/* Back button container style */
.back-button-container {
    position: relative;
    top: -5%;
    right: -30%;
}

/* Card heading style */
.login-container h2 {
    margin-bottom: 20px;
}

/* Card label style */
.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

/* Card input style */
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Buttons container style */
.login-container .buttons {
    display: flex;
    justify-content: space-between;
}

/* Card button style */
.login-container button {
    background: #1e3c72;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    width: 45%; /* Adjust width for better alignment */
}

.login-container button:hover {
    background: #1b2a49;
}

/* Back button style */
.back-button {
    background: #1e3c72;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    width: auto; /* Allow the button to auto-size */
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    display: inline-block; /* Ensure it doesn't take full width */
}

.back-button:hover {
    background: #1b2a49;
}

button {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
    transition: left 0.7s;
}

button:hover::after {
    left: 50%;
}
